//
//  hpstr_event.xcconfig
//  event
//
//  Created by Maurik Holtrop on 12/14/18.
//
#include "../master.xcconfig"
///////////////////////////////////////////////////////////////////////
//  master.xcconfig
//  Common settings for the entire workspace.
//
//  Created by Maurik Holtrop on 12/14/2018
//
// ======= ROOT 6 ==============
ROOTSYS=/Users/maurik/root/root.git.py2
ROOTLIBS=-L${ROOTSYS}/lib -lCore -lRIO -lNet -lHist -lGraf -lGraf3d -lGpad -lTree -lRint -lPostscript -lMatrix -lPhysics -lMathCore -lThread -lMultiProc -lProof -lpthread -stdlib=libc++ -lm -ldl

// === Always include ROOT

HEADER_SEARCH_PATHS=$(inherited) ${ROOTSYS}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${ROOTSYS}/lib
OTHER_LDFLAGS= ${ROOTLIBS}

///////////////////////////////////////////////////////////////////////


PRODUCT_NAME= ${TARGET_NAME} // event

EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION = dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

// == Cross directory include
HEADER_SEARCH_PATHS=$(inherited) $(SOURCE_ROOT)/analysis/include  $(SOURCE_ROOT)/event/include $(SOURCE_ROOT)/processing/include

// == Add Boost (for just one call! humpf )

HEADER_SEARCH_PATHS=$(inherited) /usr/local/include

// == Activate LCIO
HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}
OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}

