//
//  hpstr_event.xcconfig
//  event
//
//  Created by Maurik Holtrop on 12/14/18.
//
#include "../master.xcconfig"
///////////////////////////////////////////////////////////////////////
// Override ROOT
//
// ======= ROOT 6 ==============
ROOTSYS=/Users/maurik/root/root.git.py2
ROOTLIBS=-L${ROOTSYS}/lib -lCore -lRIO -lNet -lHist -lGraf -lGraf3d -lGpad -lTree -lRint -lPostscript -lMatrix -lPhysics -lMathCore -lThread -lMultiProc -lProof -lpthread -stdlib=libc++ -lm -ldl

// === Always include ROOT

HEADER_SEARCH_PATHS=$(inherited) ${ROOTSYS}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${ROOTSYS}/lib
OTHER_LDFLAGS= ${ROOTLIBS}

///////////////////////////////////////////////////////////////////////
//
//  Add Python, but not as a framework, so includes work.
//

///////////////////////////////////////////////////////////////////////
HEADER_SEARCH_PATHS=$(inherited) /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/include/python2.7
OTHER_LDFLAGS= $(inherited) /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/usr/lib/libpython.tbd 


PRODUCT_NAME= ${TARGET_NAME} // processing

EXECUTABLE_PREFIX=lib
EXECUTABLE_EXTENSION = dylib

DYLIB_COMPATIBILITY_VERSION=0
DYLIB_CURRENT_VERSION=0

// == Cross directory include
HEADER_SEARCH_PATHS=$(inherited) $(SOURCE_ROOT)/analysis/include  $(SOURCE_ROOT)/event/include $(SOURCE_ROOT)/processing/include

// == Activate LCIO
HEADER_SEARCH_PATHS=$(inherited) ${LCIO}/include
LIBRARY_SEARCH_PATHS=$(inherited) ${LCIOLIBDIR}
OTHER_LDFLAGS=$(inherited) ${LCIOLIBS}

